In [41]:
import numpy as np
import math
from bs4 import BeautifulSoup as bs
from requests import get
import pandas as pd
import regex as r

In [5]:
dirty_df = pd.read_csv('stats.csv')

In [21]:
dirty_df.Column1=dirty_df.Column1.astype(str)

In [28]:
dirty_df = dirty_df[
    (dirty_df.Column1 != 'nan')&
    (dirty_df.Column1 != 'ReorderView Receipt')].drop(
    columns=['Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7'])

In [46]:
dirty_df = dirty_df.replace(np.nan,'')

In [48]:
dirty_df.Column2=dirty_df.Column2 +' '+ dirty_df.Column3 +' '+ dirty_df.Column4

In [50]:
dirty_df=dirty_df.drop(columns=['Column3','Column4'])

In [53]:
dirty_df

,Column1,Column2
2,Rice N Go,
4,Tue,Jan 31 • $41.14 • 3 itemsB3. CRAZY CHICKEN BO...
7,Sweet Caroline Cheesecakes,LLC
9,Sun,Jan 29 • $29.50 • 2 itemsTiramisu • Key Lime ...
12,Chipotle,
...,...,...
1866,Order Cancelled,
1870,Arby's,
1872,Sat,Mar 21 • $30.30 • 3 itemsLarge Curly Fries • ...
1873,• Reviewed on 3/28/20,
1875,Load More Deliveries,