In [1]:
import numpy as np
import math
from bs4 import BeautifulSoup as bs
from requests import get
from operator import itemgetter
import pandas as pd
import re
import datetime
import regex as r

In [2]:
dirty_df = pd.read_csv('stats.csv')

In [3]:
dirty_df.Column1=dirty_df.Column1.astype(str)

In [4]:
dirty_df = dirty_df[
    (dirty_df.Column1 != 'nan')&
    (dirty_df.Column1 != 'ReorderView Receipt')].drop(
    columns=['Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7'])

In [5]:
dirty_df = dirty_df.replace(np.nan,'')

In [6]:
dirty_df.Column2=dirty_df.Column2 +' '+ dirty_df.Column3 +' '+ dirty_df.Column4

In [7]:
dirty_df=dirty_df.drop(columns=['Column3','Column4'])
dirty_df=dirty_df[dirty_df.Column1.str.startswith('•')!= True]

In [8]:
dirty_df

,Column1,Column2
2,Rice N Go,
4,Tue,Jan 31 • $41.14 • 3 itemsB3. CRAZY CHICKEN BO...
7,Sweet Caroline Cheesecakes,LLC
9,Sun,Jan 29 • $29.50 • 2 itemsTiramisu • Key Lime ...
12,Chipotle,
...,...,...
1865,Tue,Apr 14 • $24.01 • 2 itemsBasket of Fries • Th...
1866,Order Cancelled,
1870,Arby's,
1872,Sat,Mar 21 • $30.30 • 3 itemsLarge Curly Fries • ...
1875,Load More Deliveries,

In [9]:
restaurants = dirty_df.Column1.tolist()
days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']

In [10]:
restaurants=[i for i in restaurants if i not in days]

dirty_df=dirty_df[dirty_df.Column1.isin(days) == True]

In [11]:
dirty_df.columns = ['day','details']
restaurants.remove('Order Cancelled')
restaurants.remove('Load More Deliveries')

In [12]:
restaurants.remove('Order Cancelled')

In [13]:
dirty_df['restaurant']= restaurants

/var/folders/3p/xpgnq5_d0cz13g99y3v4g03r0000gn/T/ipykernel_47647/787141466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dirty_df['restaurant']= restaurants

In [14]:
dirty_df.details=dirty_df.details.str.split('•')

/var/folders/3p/xpgnq5_d0cz13g99y3v4g03r0000gn/T/ipykernel_47647/697764140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dirty_df.details=dirty_df.details.str.split('•')

In [15]:
dirty_df = dirty_df[(dirty_df.restaurant!='Food City Grocery')&
                    (dirty_df.restaurant!='Walgreens')].reset_index()

In [16]:
dirty_df.restaurant.value_counts()

Kumo Asian Garden                         49
Naan House                                43
Lupi's Pizza Pies                         36
McAlister's Deli                          25
Firehouse Subs                            17
Chipotle                                  16
DosBros Fresh Mexican Grill               15
INACTIVE BIZ DO NOT CHANGE                10
Tiger Tea                                  8
Taco Bell                                  7
Jersey Mike's Subs                         6
Freddy's Frozen Custard & Steakburgers     6
Rice N Go                                  5
Graveyard biz                              4
Five Guys Burgers & Fries                  4
Buffalo Wild Wings                         3
Chick-fil-A                                2
Wingstop                                   2
Chicken Express                            2
Arby's                                     2
City Cafe Diner                            2
Marco's Pizza                              2
It's Just Wings                            1
Salsarita's Fresh Mexican Grill            1
Terry’s Donut Boswell                      1
Miller's Ale House                         1
Blue Coast Burrito                         1
Cleveland Gyro                             1
Fulin's Asian Cuisine                      1
Flavors Cuisine Of India                   1
Qdoba Mexican Eats                         1
Six happiness                              1
Amber Indian Indianapolis                  1
Coop & Run                                 1
Steam Boys                                 1
Golden China Restaurant                    1
Curry House                                1
Panda Express                              1
Sweet Caroline Cheesecakes                 1
Stadium BBQ                                1
Dunkin'                                    1
Zaxby's                                    1
Name: restaurant, dtype: int64

In [17]:
items=pd.DataFrame(dirty_df.details.tolist())
items.columns = ['date','total','item_1','item_2','item_3','item_4','item_5','item_6','item_7','item_8']
items.item_1=items.item_1.str.split('items')
items.item_1 = items['item_1'].transform({'item1':itemgetter(1)})

In [18]:
items.total = items.total.str.replace('$','').astype(float)

/var/folders/3p/xpgnq5_d0cz13g99y3v4g03r0000gn/T/ipykernel_47647/3423416119.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  items.total = items.total.str.replace('$','').astype(float)

In [19]:
df=pd.concat([dirty_df,items],axis=1)

In [20]:
df=df.drop(columns=['details','index'])

In [23]:
df.restaurant.value_counts('•')

Kumo Asian Garden                         0.171329
Naan House                                0.150350
Lupi's Pizza Pies                         0.125874
McAlister's Deli                          0.087413
Firehouse Subs                            0.059441
Chipotle                                  0.055944
DosBros Fresh Mexican Grill               0.052448
INACTIVE BIZ DO NOT CHANGE                0.034965
Tiger Tea                                 0.027972
Taco Bell                                 0.024476
Jersey Mike's Subs                        0.020979
Freddy's Frozen Custard & Steakburgers    0.020979
Rice N Go                                 0.017483
Graveyard biz                             0.013986
Five Guys Burgers & Fries                 0.013986
Buffalo Wild Wings                        0.010490
Chick-fil-A                               0.006993
Wingstop                                  0.006993
Chicken Express                           0.006993
Arby's                                    0.006993
City Cafe Diner                           0.006993
Marco's Pizza                             0.006993
It's Just Wings                           0.003497
Salsarita's Fresh Mexican Grill           0.003497
Terry’s Donut Boswell                     0.003497
Miller's Ale House                        0.003497
Blue Coast Burrito                        0.003497
Cleveland Gyro                            0.003497
Fulin's Asian Cuisine                     0.003497
Flavors Cuisine Of India                  0.003497
Qdoba Mexican Eats                        0.003497
Six happiness                             0.003497
Amber Indian Indianapolis                 0.003497
Coop & Run                                0.003497
Steam Boys                                0.003497
Golden China Restaurant                   0.003497
Curry House                               0.003497
Panda Express                             0.003497
Sweet Caroline Cheesecakes                0.003497
Stadium BBQ                               0.003497
Dunkin'                                   0.003497
Zaxby's                                   0.003497
Name: restaurant, dtype: float64